/*!
 * Copyright 2024 BarD Software s.r.o., Dmitry Barashev.
 *
 * This file is part of GanttProject, an opensource project management tool.
 *
 * GanttProject is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 * GanttProject is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GanttProject.  If not, see <http://www.gnu.org/licenses/>.
 */
/*
Copyright 2021 BarD Software s.r.o

This file is part of GanttProject, an open-source project management tool.

GanttProject is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

GanttProject is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GanttProject.  If not, see <http://www.gnu.org/licenses/>.
*/
.dialog-alert {
  -fx-pref-height: 400;
  -fx-pref-width: 400;
}
.dialog-alert .header {
  -fx-spacing: 5;
  -fx-background-color: #f8d7da;
  -fx-alignment: center-left;
  -fx-fill-width: true;
  -fx-padding: 15;
  -fx-background-insets: 0 0 4 0;
  -fx-effect: dropshadow(gaussian, #ccc, 4, 0, 0, 4);
}
.dialog-alert .header .title {
  -fx-font-size: 110%;
  -fx-font-weight: bold;
}
.dialog-alert .content-pane {
  -fx-padding: 1ex 1em;
  -fx-border-width: 0;
}

/*
 * Copyright (c) 2021 Dmitry Barashev, BarD Software s.r.o.
 *
 * This file is part of GanttProject, an open-source project management tool.
 *
 * GanttProject is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 * GanttProject is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GanttProject.  If not, see <http://www.gnu.org/licenses/>.
 */
.btn-regular {
  -fx-background-color: derive(#e0e0e0, -20%), #e0e0e0;
  -fx-background-insets: 0, 1;
  -fx-background-radius: 5;
}
.btn-regular:hover {
  -fx-background-color: derive(#e0e0e0, -20%), derive(#e0e0e0, 20%);
  -fx-fill: derive(#424242, -20%);
}
.btn-regular:focused {
  -fx-background-color: derive(#e0e0e0, -20%), derive(#e0e0e0, 20%);
  -fx-fill: derive(#424242, -20%);
  -fx-background-color: derive(#616161, -20%), derive(#e0e0e0, 0%);
  -fx-background-insets: 0, 1;
  -fx-background-radius: 5, 3;
  -fx-border-color: transparent;
  -fx-border-width: 0;
}
.btn-regular:disabled {
  -fx-opacity: 0.4;
}

.btn-regular .secondary {
  -fx-background-color: transparent;
}

.btn-attention {
  -fx-background-color: #ffca28;
  -fx-border-color: transparent;
  -fx-border-radius: 0;
  -fx-text-fill: #424242;
  /*    -fx-font-size: 110%;*/
  -fx-font-weight: bold;
  -fx-padding: 0.75ex 2em;
  -fx-cursor: hand;
}
.btn-attention:hover {
  -fx-background-color: transparent, #ffca28;
  -fx-fill: derive(#424242, -20%);
  -fx-effect: dropshadow(gaussian, #e0e0e0, 4, 0, 0, 4);
}
.btn-attention:focused {
  -fx-background-color: transparent, #ffca28;
  -fx-background-insets: 0, 1;
  -fx-background-radius: 5, 3;
  -fx-border-color: transparent;
  -fx-border-width: 0;
}
.btn-attention:disabled {
  -fx-opacity: 0.4;
  -fx-cursor: default;
}
.btn-attention:pressed {
  -fx-effect: none;
  -fx-background-color: derive(#ffca28, 10%);
  -fx-text-fill: derive(#424242, -10%);
}
.btn-attention.secondary {
  -fx-background-color: transparent;
  -fx-border-color: #ffca28;
}
.btn-attention.secondary:hover {
  -fx-background-color: #ffca28, transparent;
  -fx-fill: derive(#424242, -20%);
}
.btn-attention.secondary:focused {
  -fx-background-color: #ffca28, transparent;
  -fx-background-insets: 0, 1;
  -fx-background-radius: 5, 3;
  -fx-border-color: transparent;
  -fx-border-width: 0;
}

.dlg-export-progress {
  -fx-min-height: 200;
  -fx-min-width: 400;
}
.dlg-export-progress .content-pane {
  -fx-padding: 20 20 20 20;
}
.dlg-export-progress .content-pane .title {
  -fx-font-weight: bold;
  -fx-font-size: 130%;
}
.dlg-export-progress .content-pane .help {
  -fx-padding: 0 0 2ex 0;
}
.dlg-export-progress .content-pane .button-pane {
  -fx-padding: 2ex 1em 1ex 1em;
  -fx-background-color: whitesmoke;
}
.dlg-export-progress .content-pane .error-label {
  -fx-text-fill: #f69289;
  -fx-font-weight: bold;
}
.dlg-export-progress .content-pane .progress-error {
  -fx-accent: #f69289;
}

/*# sourceMappingURL=Exporter.css.map */
